.stars {
  display: flex;
  align-items: center;
  gap: 15px;
}

.star {
  color: #ff6060;
}

.star--empty {
  color: #e8e8e8;
}
@media (max-width: 768px) {
  .star__icone {
    width: 13px;
    height: 13px;
  }
  .stars {
    gap: 7px;
  }
}
