$primary_color: white;
.card {
  display: flex;
  flex: 1 0 calc(33.33% - 50px);
  min-height: 340px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  align-items: end;
  color: $primary_color;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    // Hover effect for the image
    .card__image {
      filter: brightness(90%);
    }
  }

  &__content__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: $primary_color;
    text-shadow: none;
    text-decoration-color: $primary_color;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    z-index: 3;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 10px;
    filter: brightness(70%);
    transition: all 0.1s;
  }
}
